apiVersion: applications.azuread.m.upbound.io/v1beta1
kind: Application
metadata:
  name: object-lister
spec:
  forProvider:
    displayName: "Object Lister"
    web:
      redirectUris:
        - "http://localhost/auth/redirect"

  providerConfigRef:
    kind: ClusterProviderConfig
    name: azuread
---
apiVersion: applications.azuread.m.upbound.io/v1beta1
kind: FederatedIdentityCredential
metadata:
  name: object-lister
spec:
  forProvider:
    displayName: my-repo-deploy
    issuer: https://container.googleapis.com/v1/projects/<project-id>/locations/europe-west3/clusters/<cluster-name>
    subject: system:serviceaccount:<k8s-namespace>:<k8s-sa-name>
    applicationIdRef:
      name: object-lister
    audiences:
      - api://AzureADTokenExchange
---
apiVersion: serviceprincipals.azuread.m.upbound.io/v1beta1
kind: Principal
metadata:
  name: object-lister
spec:
  forProvider:
    featureTags:
      - enterprise: true
    useExisting: true
    clientIdRef:
      name: object-lister

  providerConfigRef:
    kind: ClusterProviderConfig
    name: azuread
