---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: xdeploymentdefaults.defaults.fn.crossplane.io
spec:
  group: defaults.fn.crossplane.io
  names:
    categories:
    - crossplane
    kind: XDeploymentDefaults
    listKind: XDeploymentDefaultsList
    plural: xdeploymentdefaults
    singular: xdeploymentdefaults
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Input can be used to provide input to this Function.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          gateway:
            description: |-
              Gateway configures the parent Gateway reference for HTTPRoutes.
              Required when using HTTPRoute resources.
            properties:
              name:
                description: Parent Gateway resource name
                type: string
              namespace:
                description: Parent Gateway resource namespace
                type: string
            required:
            - name
            - namespace
            type: object
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
        type: object
    served: true
    storage: true
